<div class="modal" id="mqttMessages" tabindex="-1" role="dialog" display="none">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="mqtt-messages">
          <h2>MQTT Messages</h2>
          <p>
            <a href="" class="btn btn-primary">Clear</a>
          </p>
          <div class="message">
            <div class="message-body">
              <span class="message-topic">t1f2</span>
              <span class="message-time">11:11:11</span>
              message 1: lorem ipsum dolor sit amet, consectetur adipiscing elit
            </div>
          </div>
          <div class="message">
            <div class="message-header">
              <span class="message-topic">topic</span>
              <span class="message-time">time</span>
            </div>
            <div class="message-body">body</div>
          </div>
          <div class="message">
            <div class="message-header">
              <span class="message-topic">topic</span>
              <span class="message-time">time</span>
            </div>
            <div class="message-body">body</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
